<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <!--Call the POST route to add information from this form-->

            <form class="form" method="POST">

                <div class="form-group">
                    <label for="questionTextField">Question</label>
                    <input type="text" class="form-control"
                           id="questionTextField"
                           placeholder="Enter the Question"
                           name="question" value=<%= survey.question %> required>
                </div>

                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="/survey" class="btn btn-warning">Cancel</a>

            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>