<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <br/>
            <h1><%= title %></h1>
            <br/><br/>
            <form method="POST">
                <div class="mb-3">
                    <label for="question" class="form-label">Question</label>
                    <input type="text" name="question" id="question" class="form-control" value="<%= question.title %>">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" readonly disabled></textarea>
                </div>

                <div class="d-flex justify-content-between mb-3 pt-5">
                    <a href="/survey" class="btn btn-default"><i class="fas fa-undo"></i> Cancel</a>
                    <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>