<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 
<%# Created by: Stanlye %>
<%# Created date: Jul 27 %>
<%# Last Updated: Stanlye %>
<%# Last Updated date: Jul 27 %>
<div class="container pt-5">
    <h1><%= title %></h1>
    <form method="POST" class="form">
        <% count = 1 %>
        <div class="card mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">1. blablabla?</label>
                    <textarea name="answers[<%= count %>][answer]" class="form-control" rows="3"></textarea>
                    <input name="answers[<%= count %>][questionType]" type="hidden" value="st">
                </div>
            </div>
        </div>
        <% count = 2 %>
        <div class="card mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">2. blablabla?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answers[<%= count %>][answer]" value="A">
                        <label class="form-check-label" for="a20">A</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answers[<%= count %>][answer]" value="B">
                        <label class="form-check-label" for="a21">B</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answers[<%= count %>][answer]" value="C">
                        <label class="form-check-label" for="a22">C</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answers[<%= count %>][answer]" value="D">
                        <label class="form-check-label" for="a23">D</label>
                    </div>
                    <input name="answers[<%= count %>][questionType]" type="hidden" value="mc">
                </div>
            </div>
        </div>
        <div class="text-end">
            <a class="btn btn-outline-primary" href="/survey">Cancel</a>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %> 