<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container pt-5">
    <div class="row">
        <div class="col-12 m-auto">
            <h1 class="mb-3"><%= title %></h1>
            <form method="POST">
                <div class="mb-3 row">
                    <div class="text-end">
                        <a href="/account" class="btn btn-outline-primary">cancel</a>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input type="text" name="title" id="title" class="form-control" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-6 ">
                        <div class="input-group">
                            <input type="date" name="startDate" id="startDate" class="form-control" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
                    <div class="col-sm-6 ">
                        <div class="input-group">
                            <input type="date" name="endDate" id="endDate" class="form-control" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="bi bi-calendar-date"></i></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-6 ">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusPublic" value="1">
                            <label class="form-check-label" for="statusPublic">Public</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="statusPrivate" value="0" checked>
                            <label class="form-check-label" for="statusPrivate">Private</label>
                        </div>
                    </div>
                </div>
            </form>



            <br/><br/><br/>


            <h2>Questions</h2>
            <div id="question-list">

                <% questionCount = 1 %>
                <div id="question<%= questionCount %>" class="card mb-3">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="text-end">
                                <a class="btn btn-outline-danger btn-sm removeQuestion" data-question="question<%= questionCount %>">Remove Question</a>
                            </div>
                            <label class="form-label">Question</label>
                            <input type="text" name="q<%= questionCount %>" value="<%= %>" class="form-control mb-3"></input>
                            <input type="hidden" name="qt<%= questionCount %>" value="st">
                            <textarea class="form-control" rows="3" disabled></textarea>
                        </div>
                    </div>
                </div>

                <% questionCount = 2 %>
                <div id="question<%= questionCount %>" class="card mb-3">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="text-end">
                                <a class="btn btn-outline-danger btn-sm removeQuestion" data-question="question<%= questionCount %>">Remove Question</a>
                            </div>
                            <label class="form-label">Question</label>
                            <input type="text" name="q<%= questionCount %>" value="<%= %>" class="form-control mb-3"></input>
                            
                            <div class="form-label">Answer</div>
                            <div class="answer-list">
                                <% for(let count = 0; count < 4; count++) { %>
                                <div class="answer d-flex align-items-center mb-3">
                                    <input class="form-check-input" type="radio" disabled>
                                    <input type="text" name="a<%= count %>" class="form-control ms-2" value=""/>
                                    <a class="btn btn-danger btn-sm ms-2 removeMcAnswer">Remove</a>
                                </div>
                                <% } %>
                            </div>
                            <div class="text-center pt-3">
                                <a class="btn btn-outline-primary addMcAnswer" data-question="question2">Add answer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end question list-->

            <div class="table-responsive mt-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Questions</th>
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <% if (surveyInfo.length > 0) { %>
                    <% for(let count = 0; count < surveyInfo.length; count++) { %>
                    <tr>
                        <td>
                            <%= surveyInfo[count].question %>
                        </td>
                        <td class="text-end">
                            <a href="/survey/edit/<%= surveyInfo[count]._id %>" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <a href="/survey/delete/<%= surveyInfo[count]._id %>" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td class="text-center">No question currently</td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div class="d-flex">
                <a href="/survey/mcQuestion" class="btn btn-outline-primary ms-auto" role="button"><i class="fas fa-plus-circle"></i> Add Multiple chooice question</a>
                <a href="/survey/singleTextQuestion" class="btn btn-outline-primary ms-2" role="button"><i class="fas fa-plus-circle"></i> Add Single text question</a>
                <a href="/survey/add" class="btn btn-primary ms-2" role="button"><i class="fas fa-plus-circle"></i> Add question</a>
            </div>
            <div class="d-flex pt-5">
                <a href="/survey/mcQuestion/123demo" class="btn btn-outline-default ms-auto" role="button"><i class="fas fa-plus-circle"></i> Demo edit Multiple chooice question</a>
                <a href="/survey/singleTextQuestion/123demo" class="btn btn-outline-default ms-2" role="button"><i class="fas fa-plus-circle"></i> Demo edit Add Single text question</a>
            </div>

        </div>
    </div>
</main>
<script type="text/javascript">
    $( document ).ready(function() {
        // Question
        $('#question-list').on('click', '.removeQuestion',function(){
            var questionID = $(this).data('question');
            $('#'+questionID).remove();
        });

        $('.addMcAnswer').on("click",function(){
            var questionID = $(this).data('question');
            var numAnswers = $('#'+questionID).children('.answer').length;

            alert(numAnswers);

            html = '';
            html += '<div class="d-flex align-items-center mb-3">';
            html += '<input class="form-check-input" type="radio" disabled>';
            html += '<input type="text" name="answer" class="form-control ms-2"/>';
            html += '<a class="btn btn-danger ms-2 removeMcAnswer">Remove</a>';
            html += '</div>';      
            $('.answer-list').append(html);
        });
    
        $('.answer-list').on('click', '.removeMcAnswer',function(){
            $(this).parent('.d-flex').remove();
        });
    });
    </script>

<!-- <script src="/js/bootstrap-datapicker/bootstrap-datepicker.js"></script>
<link rel='stylesheet' href='/js/bootstrap-datapicker/bootstrap-datepicker.css'/>
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
    });
</script> -->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
  





