<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %>1</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="authorTextField">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Author"
                    name="author" required>
                </div>

                <label for="startDate">Start Date</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="startDate" id="startDate" aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
                </div>

                <label for="endDate">End Date</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="endDate" id="endDate" aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
                </div>

                <h2>Questions</h2>
                <div class="questions">


                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Add Question</button>
                </div>



                <div class="form-group">
                    <label for="questionTextField">Question</label>
                    <input type="text" class="form-control"
                    id="questionTextField"
                    placeholder="Enter the Question"
                    name="question" required>
                </div>

                <label for = "type">Type</label>
                <div class="dropdown">
                    
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name = "type">
                      Type of Question
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                <div class="form-group">
                    <label for="surveyIDTextField">Type</label>
                    <input type="text" class="form-control"
                    id="surveyIDTextField"
                    placeholder="Enter the surveyID"
                    name="surveyID" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>